* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #f7f7f7;
    /* font-family: "agbalmo", sans-serif; */
    line-height: 1.6;
    color: #333;
    padding: 20px;
}
/* p{
    padding-right: 50px;
    margin: 25px;
    font-family: 'italic';
    font-size: 18px;
} */
strong{
    color: #3B5E31;
}
strong:hover {
    color: #65a354;
}
img{
    padding: 20px;
}
#pych{
    width: 99px;
    height: 99px;
}
#apresentacao{
    font-size: 20px;
    padding-left: 25px;
    padding-top: 0;
    /* padding-top: 50px; */
    font-weight: bold;
    font-family: 'italic';
    color: #3B5E31;
    margin-bottom: 10px;
}
#texto {
    font-family: 'italic';
    font-size: 18px;
    padding-top: 25px;
    text-align: justify;
}
#funcao {
    font-family: italic;
    font-size: 17px;
    font-weight: 400;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #83B3A8;
    color: #fff;
    border-radius: 5px;
}
.nav-link {
    font-family: italic;
    font-weight: 800;
    font-size: 20px;
}
#logo {
    font-family: "Koulen", sans-serif;
    font-size: 28px;
    color: black;
}
.links {
    display: flex;
    gap: 25px;
}
.elementos {
    font-family: italic;
    font-size: 16px;
    font-weight: 800;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}
.elementos:hover {
    color: #aaa;
}
.container {
    text-align: center; 
    padding: 20px; 
    width: 70%; 
    margin: 0 auto; 
}
.title {
    font-size: 20px;
    padding-left: 25px;
    /* padding-top: 50px; */
    font-weight: bold;
    font-family: 'italic';
    color: #3B5E31;
    /* margin-bottom: 10px;    */
}
.fonte-alterada {
    font-family: italic;
    padding-top: 45px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #406d30;
}
.containerLF{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-content: center; 
    max-width: 600px; 
    margin: 0 auto;
    padding-top: 2px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.containerLF > img {
    padding-top: 100%;
    position: relative;
}
.footer{
    grid-area: footer;
    background-color: #769b6b;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 10px;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 135px;
    justify-content: flex-end;
}
.footer p {
    margin: 0;
    font-family: Handlee-Regular;
    font-weight: lighter;
    color:antiquewhite;
    letter-spacing: 2px;
}
.atuacao {
    margin-top: 5px;
}
.atuacao-title {
    font-family: italic;
    text-align: left;
    font-weight: 700;
    font-size: 30px;
    color: #406d30;
    /* padding-left: 250px; */
    padding-bottom: 25px;
}
.empresa {
    font-size: 24px;
    font-family: koulen;
}
.empresa:hover {
    color: #406d30;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.date {
    font-weight: 500;
    font-family: italic;
    font-size: 17px;
    /* font-weight: 600; */
}
.atividade {
    font-family: italic;
    font-size: 17px;
    font-weight: 400;
}
.funcao {
    padding-top: 0;
    font-family: italic;
    font-size: 17px;
    font-weight: 600;
}
.weld {
    margin-left: 140px;
}
.line {
    width: 30%;
    height: 2px;
    border: 1px solid #406d30;
    color: #406d30;
    background-color: #406d30;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* margin: 20px 0; */
    transition: box-shadow 0.3s ease;
}
.line:hover {
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}
.conhecimento {
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
}
.ferramentas-name {
    font-family: italic;
    text-align: left;
    font-weight: 700;
    font-size: 30px;
    color: #406d30;
    padding-left: 220px;
    padding-bottom: 10px;
}
.linguagens-name {
    font-family: italic;
    text-align: left;
    font-weight: 700;
    font-size: 30px;
    color: #406d30;
    padding-left: 120px;
    padding-bottom: 25px;
    padding-top: 25px;
}
.ferramentas {
    margin-left: 220px;
    width: 855px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#ferramenta-name {
    font-size: 20px;
    font-family: koulen;
    padding-bottom: 0;
}
.ferramenta-conhecimento {
    font-family: italic;
    font-size: 17px;
    font-weight: 600;
}
.linguagens {
    margin-left: 120px;
    width: 88%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.linguagem-name {
    font-size: 20px;
    font-family: koulen;
    padding-bottom: 0;
}
.linguagem-conhecimento {
    font-family: italic;
    font-size: 17px;
    font-weight: 600;
}
@font-face {
    font-family: "winterbeauty";
    src: url("./font/winterbeauty-Script.otf") format("truetype");
}
@media screen and (max-width: 768px) {
    .containerLF {
      grid-template-columns: repeat(5, 1fr);
      max-width: 200px; 
      padding: 20px; 
    }
    .fonte-alterada {
        font-size: 30px; 
        padding-left: 20px; 
        padding-right: 20px; 
        text-align: center;
    }  
    #apresentacao{
        text-align: center;
    }  
    #texto{
        text-align: center;
    }
}
@font-face {
    font-family: "Handlee-Regular";
    src: url("./font/Handlee/Handlee-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'italic';
    src: url("./font/Dosis-VariableFont_wght.ttf");
}
@font-face {
    font-family: "paprika";
    src: url("./font/Paprika-Regular.ttf")
}
@font-face {
    font-family: koulen;
    src: url("./font/Koulen-Regular.ttf");
}