body{
    background-color:#F2E9DC;
}
p{
    padding-right: 50px;
    margin: 25px;
    font-family: 'italic';
    font-size: 18px;
}
strong{
    color: #3B5E31;
}
img{
    padding: 20px;
}
#pych{
    width: 99px;
    height: 99px;
}
#apresentacao{
    font-size: 20px;
    padding-left: 25px;
    padding-top: 50px;
    font-weight: bold;
    color: #3B5E31;
    margin-bottom: 10px;
}
.nav-item{
    text-align: center;
    font-family: italic;
    font-size: 20px;
    font-weight: 800;
}
.nav-link{
    color: white;
    font-size: large;
}
.container {
    text-align: center; 
    padding: 20px; 
    width: 70%; 
    margin: 0 auto; 
}
.link{
    width: 55px;
    height: 55px;
}
.btn{
    font-weight: bold;
}
.botao{
    padding-right: 85px;
    padding-top: 25px;
}
.fonte-alterada {
    font-family: winterbeauty;
    padding-top: 45px;
    text-align: center;
    font-size: 40px;
    color: #406d30;
}
.containerLF{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-content: center; 
    max-width: 600px; 
    margin: 0 auto;
    padding-top: 2px;
}
.containerLF > img {
    padding-top: 100%;
    position: relative;
}
.footer{
    grid-area: footer;
    background-color: #769b6b;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 10px;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 135px;
    justify-content: flex-end;
}
.footer p {
    margin: 0;
    font-family: Handlee-Regular;
    font-weight: lighter;
    color:antiquewhite;
    letter-spacing: 2px;
}
@font-face {
    font-family: "winterbeauty";
    src: url("./font/winterbeauty-Script.otf") format("truetype");
}
@media screen and (max-width: 768px) {
    .containerLF {
      grid-template-columns: repeat(5, 1fr);
      max-width: 200px; 
      padding: 20px; 
    }
    .fonte-alterada {
        font-size: 30px; 
        padding-left: 20px; 
        padding-right: 20px; 
        text-align: center;
      }  
      #apresentacao{
        text-align: center;
      }  
      #texto{
        text-align: center;
      }
}
@font-face {
    font-family: "Handlee-Regular";
    src: url("./font/Handlee/Handlee-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'italic';
    src: url("./font/Dosis-VariableFont_wght.ttf");
}